In [1]:
import plotly.express as px

In [2]:
px.data.gapminder()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [3]:
fig = px.scatter(px.data.gapminder(), x="gdpPercap", y="lifeExp", animation_frame="year", animation_group="country",
                 size="pop", color="country", hover_name="country", 
                 log_x = True, 
                 size_max=45, range_x=[100,100000], range_y=[25,90])

In [4]:
fig = fig.write_html('scatterplot.html')

In [5]:
!open scatterplot.html

/bin/bash: open: command not found

In [6]:
df = px.data.gapminder()

In [8]:
import pandas as pd
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,1704.0,1.979500e+03,1.726533e+01,1952.000000,1.965750e+03,1.979500e+03,1.993250e+03,2.007000e+03
lifeExp,1704.0,5.947444e+01,1.291711e+01,23.599000,4.819800e+01,6.071250e+01,7.084550e+01,8.260300e+01
pop,1704.0,2.960121e+07,1.061579e+08,60011.000000,2.793664e+06,7.023596e+06,1.958522e+07,1.318683e+09
gdpPercap,1704.0,7.215327e+03,9.857455e+03,241.165877,1.202060e+03,3.531847e+03,9.325462e+03,1.135231e+05
iso_num,1704.0,4.258803e+02,2.483057e+02,4.000000,2.080000e+02,4.100000e+02,6.380000e+02,8.940000e+02

In [9]:
df.to_excel('gapminder_plotly.xlsx', sheet_name = 'Sheet1')